div{
    background: #aaa;
    width: 150px;
    height: px;
    border: 7px solid #111;
    padding: 20px;
    margin: 20px;
}

h1{
    background: #84e;
    padding: 20px;
    width: 150px;
    margin: 20px;
    border: 7px solid #111;
}